.indexPageWrapper {
    margin: 0 auto;
    padding: 0px !important;
    display: grid;
	grid-template-areas: 
                        "indexWhy"
                        "indexHow"
                        "indexWhat"
                        "indexFooter";
	grid-template-rows:  1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;
}

.indexWhy{
    grid-area: indexWhy;
}

.indexHow {
    grid-area: indexHow;
}

.indexWhat{
    grid-area: indexWhat;
}

.indexWhat, .indexHow, .indexWhy {
    height: 150px;
    width: 95%;
    margin: 0 auto;
}