.indexPageWrapper {
    margin: 0 auto;
    padding: 0px !important;
    display: grid;
	grid-template-areas: 
                        "indexWhy"
                        "indexHow"
                        "indexWhat"
                        "indexCrowdfunding"
                        "indexFooter";
}

.indexWhy{
    grid-area: indexWhy;
    display: grid;
    grid-template-areas: 
                        "indexWhyImage indexWhyText";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 850px) {
        margin-top: 20px !important;
        grid-template-areas: 
                            "indexWhyImage"
                            "indexWhyText";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.indexWhyImage {
    grid-area: indexWhyImage;
}

.indexWhyText {
    grid-area: indexWhyText;
    p {
        width: 80%;
        margin: 0 auto
    }
}

.indexHow {
    grid-area: indexHow;
    display: grid;
    grid-template-areas: 
                        "indexHowText indexHowImage";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 850px) {
        grid-template-areas: 
                            "indexHowImage"
                            "indexHowText";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.indexHowImage {
    grid-area: indexHowImage;
}

.indexHowText {
    grid-area: indexHowText;
    p {
        width: 80%;
        margin: 0 auto
    }
}

.indexWhat{
    grid-area: indexWhat;
    display: grid;
    grid-template-areas: 
                        "indexWhatImage indexWhatText";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 850px) {
        grid-template-areas: 
                            "indexWhatImage"
                            "indexWhatText";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.indexWhatImage {
    grid-area: indexWhatImage;
}
.indexWhatText {
    grid-area: indexWhatText;
    p {
        width: 80%;
        margin: 0 auto
    }
}

.indexCrowdfunding{
    grid-area: indexCrowdfunding;
    display: grid;
    grid-template-areas: 
                        "indexCrowdfundingText indexCrowdfundingImage";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 850px) {
        grid-template-areas: 
                            "indexCrowdfundingImage"
                            "indexCrowdfundingText";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.indexCrowdfundingImage {
    grid-area: indexCrowdfundingImage;
    img {
        width: 400px;
    }
}
.indexCrowdfundingText {
    grid-area: indexCrowdfundingText;
    p {
        width: 80%;
        margin: 0 auto
    }
}

.indexWhy, .indexHow, .indexWhat, .indexCrowdfunding {
    width: 80%;
    margin: 20px auto;
    @media (max-width: 850px) {
        margin: 0 auto;
    }
}


.indexWhyImage, .indexHowImage, .indexWhatImage {
    img {
        width: 80%;
    }
    @media (max-width: 850px) {
        img {
            width: 100%;
        }
    }
}