.headerWrapper{
    position: relative;
	width: 100%;
	height: 35vh;
	@media (max-width: 900px) {
		height: 25vh;
	}
	a {
		@media (max-width: 900px) {
			margin-right: 10px;
		}
	}
}

.headerIconAndMenu {
	margin: 0 auto;
	position: relative;
	padding-top: 20px;
	width: 70%;
	height: 100%;

	display: grid;
	grid-template-areas: 
						"headerCompanyLogo"
						"topMenuWrapper";
	grid-template-rows:  3fr 1fr;
	grid-template-columns: 1fr;
	@media (max-width: 900px) {
		width: 90%;
	}
}

.headerCompanyLogo {
	grid-area: headerCompanyLogo;
	@media (max-height: 900px) {
		display: none;
	}
}