.topMenuWrapper{
	grid-area: topMenuWrapper;
	display: grid;
	grid-template-areas: 
	"homeHeader booksHeader coursesHeader blogHeader";
	grid-template-rows:  1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.topMenuHome{
	grid-area: homeHeader;
}

.topMenuBooks{
	grid-area: booksHeader;
}

.topMenuCourses{
	grid-area: coursesHeader;
}

.topMenuBlog{
	grid-area: blogHeader;
}

.topMenuHome, .topMenuBlog, .topMenuBooks, .topMenuCourses {
	display: grid;
	grid-template-areas: 
	"topMenuIcon"
	"topMenuText";
	grid-template-rows:  3fr 1fr;
	grid-template-columns: 1fr;
	cursor: pointer;
}

.topMenuHome>img, .topMenuBlog>img, .topMenuBooks>img, .topMenuCourses>img {
	height: 70px;
	margin: 0px;
	grid-area: topMenuIcon;
}

.topMenuHome>span, .topMenuBlog>span, .topMenuBooks>span, .topMenuCourses>span {
	grid-area: topMenuText;
	color: white;
	font-size: 16px;
    font-weight: 700;
}

/* "Helvetica Neue", Helvetica, Arial, sans-serif; */