
.indexFooter {
    grid-area: indexFooter;
    height: 150px;
    box-shadow: inset 1px 2px 0 rgba(0,0,0,0.08);
    background-color: #f7f7f7;
    display: grid;
	grid-template-areas: 
                        "indexFooterAbout indexFooterSupport indexFooterNewsletter";
	grid-template-rows:  1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.indexFooterAbout {
    grid-area: indexFooterAbout;
    display: grid;
	grid-template-areas: 
                        "indexFooterTitle"
                        "indexFooterAboutBottom";
	grid-template-rows:  1fr 2fr;
	grid-template-columns: 1fr;
}

.indexFooterAboutBottom {
    grid-area: indexFooterAboutBottom;
    display: inline-block;
}

.indexFooterTitle {
    grid-area: indexFooterTitle;
    font-size: 1.3rem;
}

.indexFooterSupport {
    grid-area: indexFooterSupport;
    display: grid;
	grid-template-areas: 
                        "indexFooterTitle"
                        "indexFooterSupportButton";
	grid-template-rows:  1fr 2fr;
	grid-template-columns: 1fr;
}

.indexFooterSupportButton {
    grid-area: indexFooterSupportButton;
    width: 250px;
    background-color: #e64e40;
    text-align: center;
    border-radius: 55px;
    border: 2px solid;
    cursor: pointer;
    span {
        color: white;
        display:inline-block;
        vertical-align: middle;
        line-height: 50px;
        font-size: 1.125rem;
    }
}

.indexFooterNewsletter {
    grid-area: indexFooterNewsletter;
    display: grid;
	grid-template-areas: 
                        "indexFooterTitle"
                        "indexFooterNewsletterBottom";
    grid-template-rows:  1fr 2fr;
    grid-template-columns: 1fr;
}

.indexFooterNewsletterBottom {
    grid-area: indexFooterNewsletterBottom;
}

.indexFooterSocialIcon {
    height: 30px;
    margin: 10px;
    cursor: pointer;
}